<h1>Days#show</h1>
<p>Find me in app/views/days/show.html.erb</p>
<%= @day.day_date.to_date %><br>
<%= @day.pay_slip %><br>
<%= @day.status %><br>
<%= @day.starting_hour %><br>
<%= @day.ending_hour %><br>
<%= @day.daily_meal %><br>
<%= @day.created_at %><br>
<%= @day.updated_at %><br>