<div class="wrapper">
  <div class="container">
    <h1>PaySlips#show</h1>
    <p>Find me in app/views/pay_slips/show.html.erb</p>

    <h2>Some data</h2>
    <p>
      Salary : <%= @salary %> <br>
      Pay slip : <%= @pay_slip %><br>
      Pay slip month 1st day: <%= @pay_slip_first_day %> of class <%= @pay_slip_first_day.class %><br>
      Pay slip month last day: <%= Date.new(@date.year, @date.month , -1 ) %> of class <%= @date.class %><br>


    </p>


    <h2>A calendar</h2>
    <%= month_calendar  do |date| %>
      <%= link_to date, new_salary_pay_slip_day_path(@salary, @pay_slip) %>
    <% end %>
  </div>
</div>

<!-- TODO : move this script to assets -->



<script type="text/javascript" charset="utf-8">
  // const previousMonthDays = document.querySelectorAll(".prev-month")
  // const futureMonthDays = document.querySelectorAll(".next-month")

  const days = Array.from(document.querySelectorAll(".current-month"));
  // console.log(days);
  // days.addEventListener(onclick, clickOnDayFunction);
  days.forEach(day => day.addEventListener('click', handleClickOnDay));
  function handleClickOnDay(e) {
      console.log(e.target.innerText);
  }







  // function clickOnDayFunction(e){
  //     const selectedDay = e.innerText ;
  //     console.log(selectedDay);
  // }


</script>